
@import "~bootstrap/scss/bootstrap";


body, html {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.bg {
  &-gray {
    background-color: #F1F3F6;
  }
  &-gray-light {
    background-color: #e7ecf3;
  }
  &-white {
    background-color: #fff;
  }
  &-black {
    background-color: #000;
  }
  &-pink {
    background-color: #EE8693;
  }
}

.font-size {
  &-10 {
    font-size: 10px;
  }
  &-12 {
    font-size: 12px;
  }
  &-14 {
    font-size: 14px;
  }
  &-16 {
    font-size: 16px;
  }
  &-18 {
    font-size: 18px;
  }
  &-20 {
    font-size: 20px;
  }
  &-22 {
    font-size: 22px;
  }
  &-24 {
    font-size: 24px;
  }
  &-30 {
    font-size: 30px;
  }
  &-34 {
    font-size: 34px;
  }
}

.color {
  &-text {
    color: #abb0b6;
  }
}

.border-primary-25 {
  background-color: #EE8693;
  border: 1px solid #EE8693;
  border-radius: 25px;
}

.border-secondary-25 {
  border: 2px solid #000;
  border-radius: 25px;
}

.clickable {
  cursor: pointer;
}

.mw-fc {
  max-width: fit-content;
}

a.nav-link {color:#FFFFFF !important;} 
a.nav-link:hover {color:#cfc7c6 !important; text-decoration:none;} 